.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product__image {
  background: #e4e4e4;
  padding: 0.7rem;
  border-radius: var(--border-radius);
  width: 12rem;
  height: 15rem;
}
.product__image:hover {
  background: #acacac;
  transition: background 300ms;
}
.product__title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 100%;
}
.product__price {
  margin: 2px;
}
.product__button {
  border: 1px solid var(--border-color);
  width: 10rem;
  height: 2rem;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.product__button:hover {
  background: var(--secondary-bg-color);
  color: white;
  text-align: center;
  transition: background 300ms, color 300ms;
}
