@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  --main-bg-color: rgba(243, 244, 246);
  --border-color: rgb(26, 26, 26);
  --secondary-bg-color: rgb(26, 26, 26);
  --border-radius: 0.125rem;
}
